<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <distributable/>

    <display-name>WS App Service</display-name>

    <servlet>
        <display-name>EventsServlet</display-name>
        <servlet-name>EventsServlet</servlet-name>
        <servlet-class>
            es.udc.ws.app.restservice.servlets.EventsServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EventsServlet</servlet-name>
        <url-pattern>/events/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>ResponsesServlet</display-name>
        <servlet-name>ResponsesServlet</servlet-name>
        <servlet-class>
            es.udc.ws.app.restservice.servlets.ResponsesServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ResponsesServlet</servlet-name>
        <url-pattern>/responses/*</url-pattern>
    </servlet-mapping>

    <!-- Thrift (uncomment when ready) -->

    <servlet>
        <servlet-name>ThriftEventServiceServlet</servlet-name>
        <servlet-class>es.udc.ws.app.thriftservice.ThriftEventServiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ThriftEventServiceServlet</servlet-name>
        <url-pattern>/thrift/appservice</url-pattern>
    </servlet-mapping>


    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app>
